@import "../../styles/responsive.scss";

.container{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(187, 184, 184);

    .title{
        padding: 10px ;

        h1{
            font-size: 3rem;
            font-weight: 500;
        }

    }


.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    .slider{
        display: flex;
        gap:.5rem;
        padding: 0 .7rem;
        flex-grow: 1;
        max-height: 300px;
        transition: .5s ease-in-out;
        .imgLink{
            flex: 0 0 25%;
            max-width: 25%;
            position: relative;
            padding: .25rem;
            cursor: pointer;
            // aspect-ratio: 16 / 9;
            .img{
                width: 100%;
                height: 100%;
                object-fit:cover;
                border-radius: 1rem;
                z-index: 999;
                background-color: rgb(152, 200, 220);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }
            .bg{
                width: 70%;
                text-align: center;
                position: absolute;
                display: flex;
                align-items: center;justify-content: center;
                bottom: 1rem;
                gap: 1rem;
                transform: translateX(-50%);
                left: 50%;
                color: #fff;
                display: flex;
                flex-direction: column;
                .label{
                    font-weight: bold;
                    font-size: 1.5rem;
                    padding: 1rem;
                    background-color: rgb(128, 128, 128,.7);
                    @include respond(laptop){
                        display: none;
                     }
                }
                .price{
                    border-radius: 2rem;
                    background-color: rgb(255, 111, 0);
                    color: #fff;
                    font-size: 1.6rem;
                    padding: .3em 1.5em;
                }
                
            }
        }
    }

    .handle{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        z-index: 99999;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        background-color: rgb(255, 255, 255,.7);
        cursor: pointer;
        padding: 0 .5rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        transition: all .5s ease-in-out;

        &:hover,
        &:focus{
            background-color: rgba(224, 224, 224, 0.3);
        }
    }
}
}