@import "../../styles/button.scss";
@import "../../styles/animation.scss";

.container {
    padding: 20px;
    position: absolute;
    top: 100px;
    z-index: 999;
    right: 20px;
    background-color: #f7faff;
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px -5px rgb(0,0,0,.5);
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    .title{
        margin-bottom: 30px;
        color: gray;
        font-size: 24px;
    }
    .item{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
        .img{
            width: 80px;
            height: 100px;
            object-fit: cover;
        }
        .details{
            .label{
                font-size: 18px;
                font-weight: 500;
            }
            p{
                color: gray;
                margin-bottom: 10px;
                font-size: 14px;
            }
            .price{
                color: #2879fe;
            }
            .delete{
                cursor: pointer;
            }
        }
    }
    .total{
        background-color: rgb(207, 207, 207);
        padding: 10px;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .bottom{
        display: flex;
        gap: 10px;
        flex-direction: column;
        .reset{
            color: red;
        }
    }
 
}