@import "../../styles/variables";
@import "../../styles/animation.scss";

.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    .inputLabel{
        font-size: 16px;
        font-weight: bold;

    }

    .input{
        background-color: inherit;
        cursor: pointer;
        width: 100%;
        border:none;
        outline: none;
        display: flex;
        padding: 15px;
        margin: 5px 0;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid $color-grey;

        &::placeholder{
            color: $color-grey-dark;
        }


        &:focus{
                    border: 1px solid $color-blue;
        }

        &:invalid[list = "true"] ~ .errorMessage{
            display: block;
        }

        &:invalid[list = "true"]{
            border-color: $color-crimson;
        }

        &:not(:placeholder-shown,:focus):invalid {
            border-color: $color-crimson;
            -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        }

    }
    .errorMessage{
        width: 400px;
        font-size: 12px;
        padding: 3px;
        color: $color-red;
        display: none;
    }
}