@import "../../../styles/responsive.scss";


.container{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:helvetica-neue-lt, sans-serif;
    position: relative;
    transition: all 500ms ease-in-out;

    @include respond(laptop){
            height: 10rem;
        }

    &.invinsible{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99999999999;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
    .deskTopwrapper{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(laptop){
            display: none;
        }

        .logo{
            width: 10%;
        }
        .desktopLinks{
            width: 70%;
            height: 100%;

        }
        
        .search{
            width:15%;
        }
        .cart{
            width: 5%;
            cursor: pointer;
        }
    }

    .mobileViewWrapper{
        display: none;
        @include respond(laptop){
            display: flex;
            padding: 0 2rem;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .right{
                display: flex;
                align-items: center;
                gap: 3rem;
            }

            .mobileLinks {
                position: absolute;
                z-index: 1000;
                background-color: #fff;
                left: 0;
                top: 10rem;
                max-height: calc(100dvh - 10rem);
                width: 100%;
                overflow-y: auto;
                transform: translateY(-200%);
                transition: all 500ms ease-in-out;
                opacity: 0;
            }
            .mobileLinksShow{
                opacity: 1;
                transform: translateY(0%);
            }

        }

    }
    
}
