@import "../../styles/responsive.scss";

.left{
    flex: 1;
    display: flex;
    gap: 20px;
    @include respond(laptop){
        display: flex;
        flex-direction:column-reverse;
    }
    .images{
        flex: 1;
        position: relative;
        width: 100%;
        height: 100%;
        @include respond(laptop){
            display: flex;
            width: 100%;
            gap: 1rem;
            justify-content: center;
        }
        .img{
            width: 10rem;
            height: 150px;
            object-fit: cover;
            cursor: pointer;
            margin-bottom: 10px;
            border: 1px solid rgb(191, 190, 190);
            border-radius: 10px;
            padding: 5px;

            &.selectedImg{
                border: 1px solid blue;
            }
        
        }


    }
    .mainImg{
        flex: 5;
        width:fit-content;
        height:100% ;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @include respond(laptop){
            width: 100%;
        }
    
        .imgBig{
            width: 100%;
            height: 80rem;
            object-fit: cover;
            @include respond(laptop){
                width: 100%;
                height: 45rem;
            }
        }
    }

}