.listItem{
    border-radius: 10px;
    width: 225px;
    height: 200px;
    // background-color: rgb(61, 132, 218);
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    .img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}