@import "./variables.scss";

.utilsBtn{
    padding: 1.6rem 4.0rem;
    cursor: pointer;
    border: none;
    outline: none;
    color: $color-white;
    border-radius: 15px;
    width: fit-content;
    // min-width: 100px;
    font-size: 1.4rem;
    transition: .3s ease;
    &:disabled{
        opacity: .8;
        cursor: not-allowed;
    }
    
&:hover{
        transform: scale(.98);  
    }
}

.ctaBtn{
    @extend .utilsBtn;
    background-color: $color-black;
    font-weight: bold;
    &:disabled{
        background-color: $color-grey
    }
}

.actionBtn{
    @extend .utilsBtn;
    background-color: transparent;
    color: #000;
    font-weight: bold;
    border: .1rem solid grey;
}

.catBtn{
    @extend .utilsBtn;
    background-color: $color-white;
    font-weight: bold;
    color: $color-black
}
.borderbtn{
    @extend .utilsBtn;
    border: 1px solid grey;
    color: $color-black;
    justify-content: flex-end;
}