@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0';
@import "responsive"; 
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "./variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  padding-top: 50px;
  font-family:Lexend, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  width: 100vw;
  @include respond(laptop){
    // padding-top: 0;
}
  
}

/* Font size variables */
h1 {
  font-family: "Merriweather", serif;
  --min: 2em; /* minimum value */
  --val: 5vw; /* preferred value = 5% viewport width */
  --max: 3em; /* maximum value */
}
h2 {
  font-family: "Merriweather", serif;
  --min: 1.5em;   /* minimum value */
  --val: 4vw;     /* preferred value = 4% viewport width */
  --max: 2.25em;  /* maximum value */
}
p,span {
  font-family: "Source Sans Pro", sans-serif;
  --min: 1em;   /* minimum value */
  --val: 2.5vw; /* preferred value = 2.5% viewport width */
  --max: 1.5em; /* maximum value */
}

a{
  text-decoration: none;
  color: inherit;
}

.text-link{
  color: $color-blue;
  font-weight: 500;
  &:hover{
    text-decoration: underline;
  }
}


