@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0';
@import "responsive"; 
@import 'tailwindcss/base';
// @import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "./variables.scss";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  // padding-top: 50px;
  font-family:Lexend, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #000;
  min-height: 100dvh;
  min-width: 100vw;
  overflow-x: hidden;
}

/* The Container holding the body */
.container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  height: 100%;
  width: 90%;
  overflow: hidden;
  @include respond(laptop){
    width: 100%;
}

}

h1,h2,h3 {
  text-wrap: balance;
}

/* Font size variables */
h1 {
  font-family: "Merriweather", serif;
  --min: 2em; /* minimum value */
  --val: 5vw; /* preferred value = 5% viewport width */
  --max: 3em; /* maximum value */
}
h2 {
  font-family: "Merriweather", serif;
  --min: 1.5em;   /* minimum value */
  --val: 4vw;     /* preferred value = 4% viewport width */
  --max: 2.25em;  /* maximum value */
}
p,span {
  font-family: "Source Sans Pro", sans-serif;
  --min: 1em;   /* minimum value */
  --val: 2.5vw; /* preferred value = 2.5% viewport width */
  --max: 1.5em; /* maximum value */
}

a{
  text-decoration: none;
  color: inherit;
}

.text-link{
  color: $color-blue;
  font-weight: 500;
  &:hover{
    text-decoration: underline;
  }
}
