$color-black:#000;
$color-white:#fff;
$color-grey:#D4D4D8;
$color-grey-dark:#5d6370;
$color-crimson: crimson;
$color-red: rgb(253, 8, 8);
$color-blue: rgb(41, 41, 205);
$color-bg-1: #EEEFF6;
$color-green: #238636;



$color-overlay:rgba(0, 0, 0, 0.3);


// DEFAULT FONTSIZE
$default-font-size:1.8rem;