@import "../../styles/button.scss";
@import "../../styles/responsive.scss";

.container{
    width: 100%;
    margin-top: 3rem;
    border-top: 1px solid rgb(187, 184, 184);
    .heading{
        .title{
            font-size: 3rem;
            text-transform: capitalize;
            font-weight: 500;
            padding: 1rem;
        }
    }
    .wrapper{
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 20px;
        @include respond(laptop){
            width: 100%;
        }
    }
    .more{
        margin: 7rem 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}