.container{
    .text{
        font-weight: 1.8rem;
        display: flex;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem;
    }
}