@import "../../../styles/responsive.scss";
@import "../../../styles/button.scss";

.container{
    display: none;
    @include respond(laptop){
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: #FFFFFF;
        display: inline-block;
        top: 0;
        left: 0;
        overflow-y: auto;
        line-height: 50px;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.972);
        z-index: 2000;
        transition: all 5s ease-in;
        opacity: 0;
        animation: slideInFromLeft .5s forwards;
        // display: flex;
        // flex-direction: column;
    }

    &.showMenu{
        // transform: translateX(0%);
        opacity: 1;
    }

    .header{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        padding: 20px 10px;
    }

    .bottom{
        height: 10vh;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .filterItems{
        height: 70vh;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: auto;
        padding: 20px 10px;
        cursor: pointer;
        &::-webkit-scrollbar {
            width: 0.5em; /* Set the width of the scrollbar */
        }
        .filterItemsContainer{
            border-bottom: 1px solid grey;
            .items{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}