@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.container{
    width: 100%;
    display: flex;
    border-top: 1px solid $color-grey;
    padding: 20px;
    
    .wrapper{
        width: 100%;     

        .setionTitle{
            font-size: 20px;
            font-weight: bold;
        }


        .mobileFilterIcon{
            display: none;
            @include respond(laptop){
                display: block;
                .filterContainer{
                    display: flex;
                    width:max-content;
                    gap: 20px;
                    background-color: #F8F8F8;
                    padding:5px;
                    border-radius: 10px;
                    cursor: pointer;
                    .title{
                        list-style: none;
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
            }
        }
        .mobileFilterLinks{
            display: none;
            @include respond(laptop){
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                background-color: #ffff;
                z-index: 20000000000000000;
                height: 100dvh;
                width: 100%;
                max-width: 400px;
                overflow-y: auto;
                line-height: 40px;
                transform: translateX(-100%); 
                transition: all 300ms ease-in-out;               }
        }
        .showFilterLinksMenu{
            transform: translateX(0%);
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.972);
            display: block;
        }

    }
}