@import "../../../styles/variables.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/button.scss";
@import "../../../styles/animation.scss";


.container{
    margin: auto;
    display: flex;
    width: max-content;
    height: max-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    // padding: 0px 50px;
    border-radius: 10px;

    .header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .heading{
            font-weight: 600;
            font-size: 30px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
            color:#4b5563;
        }

    }

    .form{
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    
        .inputCont{
            position: relative;
            width: 100%;
            height: 50px;
            border-radius: 5px;
        
            .input{
                border: none;
                width: 100%;
                height:50px;
                outline: none;
                border: 1px solid $color-grey;
                padding-left: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                font-size: 14px;
                background-color: $color-white;
    
                &:focus{
                    border: 1px solid $color-blue;
                    transition: all ease;
                }
    
                &:is(:focus, :valid) + .inputLabel .inputLabelName{
                    transform: translateY(-70%);
                    font-size: 14px;
                    font-weight:500;
                    color: $color-blue;
                    background-color: $color-white;
                    padding: 5px;
                    left: 5px;
                }

    
                &:not(:placeholder-shown,:focus):invalid {
                    border-color: $color-red;
                    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                }
    
                &:not(:placeholder-shown,:focus):invalid + .inputLabel .inputLabelName{
                    transform: translateY(-70%);
                    font-size: 14px;
                    font-weight:500;
                    color: $color-red;
                    background-color: $color-white;
                    padding: 5px;
                    left: 5px;
                }

            }
    
            .inputLabel{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                pointer-events: none;
            
                .inputLabelName{
                    position: absolute;
                    bottom: 10px;
                    left: 8px;
                    transition: all .3s ease;
                    color: $color-grey-dark;
                    font-size: 14px;
                    font-weight: 700;
                    font-style: normal;
                }
            }
        }
        .action {
            display: flex;
            gap: 50px;
          
            .checkbox {
              display: flex;
              align-items: center;
          
              input[type="checkbox"] {
                margin-right: 8px;
                appearance: none;
                cursor: pointer;
                width: 18px;
                height: 18px;
                border: 2px solid #333;
                border-radius: 4px;
                outline: none;
                position: relative;
          
                &:checked {
                  background-color: $color-black;
                  border-color: $color-grey;
          
                  &::before {
                    content: '✔';  // Unicode checkmark character
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-size: 14px;
                  }
                }
              }
            }
          }
    }

    .register{
        display: flex;
            gap: 10px;

            .text{
                color:$color-grey-dark;
            }
    }

    .orCont{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .hr{
            width: 100%;
            height: 5px;
            border: 0;
            border-top: 1px solid $color-grey;
        }

        .orText{
            font-size: 14px;
            color: $color-grey-dark;
            border-radius: 50%;
            border:1px solid $color-grey;
            padding: 5px;
        }
    }

    .socialLogin{
        border: .1rem solid $color-grey;
        outline: none;
        padding: 16px 40px;
        width: 100%;
        min-height: 50px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-grey-dark;
        gap: 20px;
        cursor: pointer;
        margin-bottom: 20px;
        transition: all 0.5s ease;
        
        
        &:hover{
            transform: scale(1.03);
        }
    }
}