.nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;

    .navList {
        list-style: none;
        font-size: 1.6rem;
        font-weight: 500;
        height: 100%;
        padding: 0 1rem;
        &:hover{
            .dropDown {
                box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
                visibility: visible;
                }
            }
        }

        .navListItem {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: .2rem solid transparent;
            background-image: linear-gradient(grey,black);
            background-size: 0% .3rem;
            background-repeat: no-repeat;
            background-position: left bottom;
            transition: .3s ease;
            &:hover {
                color: grey;
                background-size: 100% 3px;
        
            .navListItemLink{
                cursor: pointer;
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
            }
        }
        .dropDown {
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 999;
            width: 100%;
            height:fit-content;
            padding: 1% 10%;
            background-color: #fff;
            display: flex;
            gap: 5rem;
            justify-content: space-between;
            visibility: hidden;
        }

            .imageContainer{
                flex: 1;
                margin: auto;
                width: 20rem;
                height: 40vh;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .image{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                .imgText{
                    color: #fff;
                    padding: 1rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 3rem;
                    font-weight: bold;
                    background: linear-gradient(to bottom, rgba(93, 92, 92, 0.156), rgba(29, 48, 190, 0.9));
                }
            }
        
            .dropdownList {
                flex: 6;
                align-self: flex-start;
                list-style: none;
                color: #000;
                display: flex;
                gap:6rem;
                height: 100%;
                flex-wrap: wrap;

            
            .dropDownListItems {
                font-size: 1.8rem;
                font-weight: 600;
                width: max-content;
                &:hover{
                    color: grey;
                }
                
                .dropDownListItem{
                    list-style: none;
                    font-size: 1.6rem;
                    font-weight: 300;
                    color: rgb(62, 62, 62);
                }
                .dropDownListItemLabel{
                    font-size: 1.8rem;
                    font-weight: 600;
                    color: #000;
                }
                .dropDownListItemList{
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            }
        }
}