@import "../../../styles/responsive.scss";
.container{
    max-width: 300px;
    @include respond(laptop){
        width: 180px
    }
    .wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .card{
            width: 100%;
            height: 400px;
            position: relative;
            display: flex;
            @include respond(laptop){
                height: 300px;
            }
            &:hover .icon{
                opacity: 1;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            }

            .icon{
                position: absolute;
                z-index: 999;
                top: 50%;
                padding: 10px;
                transform: translate(0, -50%);
                cursor: pointer;
                transition: .2s ease;
                opacity: 0;
                border-radius: 50%;
                background-color: rgb(255, 255, 255,.1);
                @include respond(laptop){
                    opacity: 1;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                }
            }

            .iconLeft + .imgContainer .img{
                animation: slideInFromLeft .2s forwards ;
            }

            .iconRight + .imgContainer .img{
                animation: slideInFromRight .2s forwards ;
            }

            .imgContainer{
                width: 100%;
                position: relative;
                overflow: hidden;

                .img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include respond(laptop){
                        object-fit: contain;
                    }
                }
            }

            .imgpos{
                position: absolute;
                bottom: 5px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2px;
                border-radius: 15px;
                background-color: rgba(44, 44, 44, 0.3);
                .pos{
                    width: 15px;
                    margin-left: 10px;
                    height: 15px;
                    border-radius: 50%;
                    border: 1px solid #ffffff;
                }
            }


            .text{
                background-color: #ebf7fa;
                position: absolute;
                border-radius:50px;
                padding: 5px;
                top: 10px;
                left: 10px;
                font-size: 14px;
                font-weight: 300;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                color: #000;
            }
        }

        .desc{
            font-size: 16px;
            font-weight: 300;
        }

        .bottom{
            display: flex;
            width: 100%;
            justify-content: space-between;
            .price{
                display: flex;
                gap: 5px;

                .currentPrice{
                    color: red;
                    font-size: 16px;
                    font-weight: 500;
                }

                .prevPrice{
                    text-decoration:line-through;
                    font-size: 16px;
                    font-weight: 500;
                    color: gray;
                }
            }

        }
        .selectColor{
            border-top: 1px solid grey;
            display: flex;
            width: 100%;
            gap: 5px;

            .color{
                margin-top: 10px;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                border: 1px solid grey;
            }
        }
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}