.navMenu{
    list-style: none;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid rgb(201, 206, 206);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .navMenuItem{
        display: flex;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .dropdownContainer{
        font-size: inherit;
        font-style: inherit;
        user-select: none;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .dropdownLabel{
            font-weight: bold;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}



