@import "../../../styles/responsive.scss";


.container{

    .topNav{
        @include respond(laptop){
            display: none;
        }
    }

    .box{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family:helvetica-neue-lt, sans-serif;

        @include respond(laptop){
                height: 100px;
            }
        .deskTopwrapper{
            width: 80%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            @include respond(laptop){
                display: none;
            }

            .logo{
                width: 10%;
            }
            .desktopLinks{
                width: 70%;
                height: 100%;

            }
            
            .search{
                width:15%;

            }
            .cart{
                width: 5%;
                cursor: pointer;
            }
        }

        .mobileViewWrapper{
            display: none;
            @include respond(laptop){
                display: flex;
                padding: 0 20px;
                width: 100%;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                position: relative;
                z-index: 10000000000;
                // -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

                .right{
                    display: flex;
                    align-items: center;
                    gap: 30px;
                }

                .mobileLinks{
                    position: absolute;
                    z-index: 1000;
                    background-color: #fff;
                    left: 0;
                    top: 100px;
                    width: 100%;
                    transition: .15s ease-in;
                    -webkit-animation: slide-in-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: slide-in-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                }

            }

        }
        
    }
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
