.sliderArrow{
    width: 100%;
    height: 100%;
    margin: auto;
    
    &:hover{
    transform: scale(1.1);
    transition: 150ms ease-in-out;
    }
}

.containersm{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .successIcon{
        display: block;
        height: 10vh;
        width: 10vh;
        .circle {
            stroke-dasharray: 76;
            stroke-dashoffset: 76;
            animation: draw 1s forwards;
        }
        .tick {
            stroke-dasharray: 18;
            stroke-dashoffset: 18;
            animation: draw .5s forwards 1s;
        }
    }
}

@keyframes draw { 
    to { stroke-dashoffset: 0 } 
    }