@import "../../styles/responsive.scss";
.container{
    background: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include respond(laptop){
            width: 100%;
        }
        .text{
            width: 98%;
            color: #fff;
            @include respond(laptop){
                font-size: 12px;
            }
        }

        .close{
            width: 2%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}