@import "../../styles/responsive.scss";
@import "../../styles/button.scss";

.slider{
    height: calc(100vh - 100px);
    width: 100vw;
    position: relative;
    background-image: url("../../../public/bannerBg.png");
    background-color: #031A31;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;

    .container{
        width:max-content;
        height: 100%;
        display: flex;
        transition: all 1s ease;
        .wrapper{
            .img{
                height:100%;
                width: 100vw;
                object-fit: contain;
                @include respond(laptop){
                    object-fit: cover;
                }
            }
        .textWrapper{
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            border-radius: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 3rem;
            padding: .5rem;
            margin-left: 20px;
            @include respond(laptop){
                width: max-content;
                padding: 1rem;
                margin-left: 20px; 
                top: 12rem;
                transform: translate(0, 0);
                gap: .2rem;
            }
            .featuredCategory{
                font-weight: 300;
                color: rgb(255, 254, 254);
                font-size: 3rem;
                text-transform: capitalize;
            }
            .text{
                font-weight: 300;
                font-size: 1.6rem;
                color: rgb(255, 254, 254);
                @include respond(laptop){
                display: none;
                }
            }
            .offer{
                font-weight: bold;
                color: rgb(255, 255, 255);
                font-size: 3rem;
                text-transform: capitalize;

            }
            
        }

        }
        
    }

    .iconWrapper{
        display: flex;
        gap: 10px;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        bottom: 100px;
        width: fit-content;
        .icon{
            width: 50px;
            height: 50px;
            border: 1px solid #999;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: rgb(170, 170, 170,.4);
        }
    }

}